 <h1>Perfil de Usuario</h1>
 {{#each user}}
    <div>
        <p><strong>Nombre:</strong> {{first_name}} {{last_name}}</p>
        <p><strong>Correo Electrónico:</strong> {{user.email}}</p>
        <p><strong>Edad:</strong> {{user.age}}</p>
        <p><strong>Rol:</strong> {{user.role}}</p>

{{/each}}
    </div>