{{!-- Plantilla con handlebars que muestra los productos
Llama al id = formProducts --}}
<div>
    <h1>Real Time products</h1>
    <div class="real-time-form">
        <form id="formProducts" method="post" action="/realtimeproducts">
            <label for="productTitle">Titulo:</label>
            <input type="text" placeholder="Titulo del producto" name="title" id="productTitle" />
            <label for="productDescription">Descripcion:</label>
            <textarea type="text" rows="10" placeholder="Descripcion del producto" name="description"
                id="productDescription"></textarea>
            <label for="productCategory">Categoría del producto: </label>
            <input type="text" placeholder="Categoría del producto" name="category" id="productCategory">
            <label for="productPrice">Precio: </label>
            <input type="number" placeholder="Precio del producto" name="price" id="productPrice">
            <label for="productCode">Codigo Producto</label>
            <input type="text" placeholder="Codigo del producto" name="codigo" id="productCode">
            <label for="productStock">Stock:</label>
            <input type="number" placeholder="cantidad en stock" name="stock" id="productStock">
            <label for="productThumbnails">Imagenes:</label>
            <input type="text" placeholder="URL de la imagen" name="thumbnails" id="productThumbnails">
            <button type="submit">Agregar</button>
        </form>
    </div>

    <div class="list">
        <ul id="productsList">
            {{!-- Recorremos los productos --}}
            {{#each products}}
            <li>
                <div class="info">
                    <h2>
                        {{this.title}}
                    </h2>
                    <div class="description-category">
                        <p><span>Description:</span> {{this.description}}</p>
                        <p><span>Category:</span> {{this.category}}</p>
                    </div>
                    <div class="price-stock">
                        <p><span>Price:</span> ${{this.price}}</p>
                        <p><span>Stock:</span> {{this.stock}}</p>
                    </div>
                </div>
                <img src={{this.thumbnails}} alt={{this.title}}>
                <button class="deleteButton" id={{this.id}}>Eliminar</button>

            </li>
            {{/each}}
        </ul>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>{{!-- /script de socket para poder utilizarlo del lado del cliente. --}}