<div> 
    <div class="welcome-message d-flex align-items-center">
        <p>Bienvenido a nuestro e-commerce </p>
        {{#if user}}
            <p>Usuario: {{user.user.user.email}}</p>
            <p>Rol: {{user.user.user.role}}</p>
            
            <button type="button" class="btn btn-secondary cart-button"  id="{{user.user.user.cart}}"> Ir al carrito</button>
            <a  id="socket-button" class="btn btn-secondary m-2 ml-10 "  href="/chat">Ir al chat</a>
            <a  id="logout-button"  class="btn btn-secondary m-2 ml-10 ">Cerrar Sesión</a>
        {{/if}}
        {{#if showEditButton}}
            <a type="button" class="btn btn-secondary"   href="/api/updateproducts">Actualizar lista de productos</a>
        {{/if}}

    </div>
   

    <div id="product-list" class="d-flex flex-row flex-wrap">
    {{#each products }}
     <div class="card m-2 mb-10 p-5">
        <div class="card-body">
          <h2 class="card-title">{{this.name}}</h2>
          <p class="card-text">Categoría: {{category}}</p>
          <p class="card-text">Descripcion: {{description}}</p>
          <p class="card-text">Disponibilidad: {{availability}}</p>
          <p class="card-text">Precio: {{price}}</p>
   
          <button type="button" class="btn btn-secondary button-add-to-cart" class="{{user.user.user.cart}}" id="{{_id}}">Agregar producto</button>
  
          <button type="button" class="btn btn-secondary view-details-button" id="{{_id}}">Detalles del producto</button> 
        </div>
      </div>
    {{/each}}
  </div>
  <div id="paginated">
    <p>Page {{ pagination.currentPage }} of {{ pagination.totalPages }}</p>
  
      {{#if pagination.hasPrevPage}}
        <a href="{{ pagination.prevLink }}">Anterior</a>
      {{/if}}
  
       {{#if pagination.hasNextPage}}
        <a href="{{ pagination.nextLink }}">Siguiente</a>
      {{/if}}
  </div>

</div>
    
    {{!-- <script src="/js/script.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/product.js"></script> --}}
  {{!-- <script src="/js/product.js"></script>
 <script src="/js/logout.js"></script>
  <script src="/js/cart.js"></script>
   <script src="/js/updateproducts.js"></script> --}}
  {{!-- <script src="/js/product.js"></script>
 <script src="/js/logout.js"></script>
  <script src="/js/cart.js"></script>
   <script src="/js/updateproducts.js"></script> --}}

   <script src="/public/js/product.js"></script>
   <script src="/public/js/logout.js"></script>
   <script src="/public/js/cart.js"></script>
   <script src="/public/js/updateproducts.js"></script>
 </html>
