<ul id="product-list">
  {{#each products}}
    <li>
      <h2>{{name}}</h2>
      <p>Category: {{category}}</p>
      <p>Availability: {{availability}}</p>
      <p>Price: {{price}}</p>
      <button class="add-to-cart-button" data-productid="{{_id}}">Agregar al Carrito</button>
      <button class="view-details-button" data-productid="{{_id}}">Ver Detalles</button>
    </li>
  {{/each}}
</ul>

<div id="paginated">
  <p>Page {{ pagination.currentPage }} of {{ pagination.totalPages }}</p>
  
  {{#if pagination.hasPrevPage}}
    <a href="{{ pagination.prevLink }}">Anterior</a>
  {{/if}}
  
  {{#if pagination.hasNextPage}}
    <a href="{{ pagination.nextLink }}">Siguiente</a>
  {{/if}}
</div>